body {
  display: flex;
  justify-content: center;
}

.product__single {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid;
  width: 200px;
  height: auto;
  align-items: center;
  margin-bottom: 5px;
}

.product__single img {
 width: 150px;
 height: 150px;
}

.pagination {
  margin: 15px 0;
}

.pagination button {
  padding: 10px;
  margin: 1px;
}

.pagination .pagination__selected {
  background-color: black;
  color: #fff;
}